sudo: false
language: python
virtualenv:
  system_site_packages: false
matrix:
  fast_finish: true
  include:
  - python: 3.8.5
    env: DISTRIB="ubuntu" TOX_PYTHON_VERSION="py383" COVERAGE="true"


before_install:
  - echo "deb [trusted=yes] https://apt.secrethub.io stable main" | sudo tee /etc/apt/sources.list.d/secrethub.sources.list
  - sudo apt-get update && sudo apt-get install -y secrethub-cli


install:
- source tests/travis_install.sh
- pip install -r requirements.txt
before_script:
- git config --global user.email "me@andykmiles.com"
- git config --global user.name "Andy Miles"
script:
- python setup.py develop
- tox
- |
  if [[ "$COVERAGE" == "true" ]]; then
    pre-commit install
    pre-commit run --all-files
  fi
after_success:
- if [[ "$COVERAGE" == "true" ]]; then coveralls || echo "failed"; fi

cache:
  pip: true

env:
  - BINTRAY_PW="secrethub://andykmiles/apps/bintray/pw"

script:
  - secrethub run -- ./bin/build.sh

#deploy:
#  skip_cleanup: true
#  provider: script
#  script: bin/build.sh
after_script:
- travis-cleanup
